.env
p.env
bad_cope.py
.replit
compose-dev.yaml
index.html
index.js
privVars.py
__pycache__
.vscode
testing.py
scanHandler.py
server-icon.png
mongoHandler.pyw
testing.pyw
funcs.py
playerhead.png
setup_done.yay
