.env
.replit
.vscode
backup.log
backup.pyw
bad_cope.py
compose-dev.yaml
funcs.py
index.html
mongoHandler.pyw
node_modules
out.log
p.env
package-lock.json
playerhead.png
privVars.py
privVars2.py
recheck.pyw
scanHandler.py
server-icon.png
setup_done.yay
testing.pyw
testing2.pyw
__pycache__
